h1 { text-align: center;
color:thistle;}
h2 { text-align: center;
    color: yellow;
    font-style: initial;
}
h3 {text-align: center;
color: lightcyan;
font-style: italic;}

body{ background-color: teal;
}
p {text-align: center;
color: lightgray;}

img { 
    max-width: 200px;
    max-height: 100%;
    height: auto;
    margin: auto;
    display: block;
}
.circular--square { border-radius: 50%;}
div { text-align:center ;}
ul {display:inline-block;text-align: left;color:}
